<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png">
    <title>About page</title>
</head>

<body>
    <main class="main-content">
        {{>header  }}
        {{!-- <img class="portrait" src="/images/pexels.jpg" alt="basketball" width="300" /> --}}
        <p>Not much to know</p>
    </main>
    {{>footer }}
</body>

</html>