<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png">
    <title>About page</title>
</head>

<body>
    {{>header  }}
    <main class="main-content">
        <h1>{{ title }}</h1>

        <p>This site was created by Grr Thul. It uses data from weatherstack.com. Not much else to know</p>
    </main>
    {{>footer }}
</body>

</html>