<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png">
    <title>Help</title>
</head>

<body>
    <main class="main-content">
        {{>header  }}
        <h3>You are suppose to find help here... good luck</h3>
    </main>
    {{>footer }}
</body>

</html>